* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.todo,
.login,
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo {
  width: 100%;
  border: 1px blue solid;
  background: yellowgreen;
}
